<% if current_user %>
	
	<div class="row" id="user_nav">

			<div id="info-profile" class="row margin-t-b">
				<div class="small-3 medium-2 large-2 columns">
					<img src=<%= current_user.image %> />
				</div>
				<div class="small-9 medium-7 large-7 columns">
					<h2><%= current_user.name %></h2>
					<ul class="inline-list">
						<li><%= link_to "Refresh", refresh_path, id: "sign_out" %></li>
						<li><%= link_to "Sign out", signout_path, id: "sign_out" %></li>
					</ul>
				</div>
				<div class="small-12 medium-3 large-3 columns">
					<button class="button right move-coins" data-reveal data-reveal-id="moveCoinsModal">Transfer coins</button>
				</div>
			</div>
	

	</div>

<div id="moveCoinsModal" class="reveal-modal small" data-reveal>
  <h2>Send coins to your friends</h2>
  
  <% if current_user.user_friends.length > 0 %>
	  	<%= form_tag 'transaction' do %>
	  		<p class="lead">Amount</p>
	  		<%= number_field_tag 'amount', 0.00, min: 0.00, max: current_user.account.balance, step:0.10 %>
	  		<p>
	  		<p class="lead">Friend</p>
	  		<%= select_tag "receiver", options_from_collection_for_select(current_user.user_friends, "id", "name") %>
	  		<p>
	  		<p class="lead">Description</p>
	  		<%= text_field_tag 'description', nil, placeholder: 'Enter a description...' %>
	  		<div class="row">
		  		<button>Send</button>
		  	</div>
		<% end %>
	<% else %>
		<h2 class="text-center"><small>No friends on Likeecoin yet! :(</small></h2>	
	<% end %>
	<a class="close-reveal-modal">&#215;</a>
</div>

	
	<div id="total-likees" class="row">
		
		<div>
			<h1><%= number_to_currency(current_user.account.balance, unit: '') %></h1>
			<p>Total likee-coins collected</p>
		</div>
	</div>

	<div id="likes-collected-info" class="row">
		<div class="large-12 columns">
			<% if current_user.account.has_redeemed %>
				<h3>Likes you collected since <%= current_user.account.last_redeem.to_date %></h3>
			<% else %>
				<h3 class="text-center">You haven't redeemed yet. What are you waiting for?</h3>
			<% end %>
		</div>
	</div>

	<div class="row margin-t-b">
		<div class="small-6 medium-6 large-3 columns likee-info-count friends-box">
			<h3><i class="fi-social-facebook"></i> Total Likes</h3>
			<h2><%= current_user.info.total_likes %></h2>
			<p>From <%= current_user.info.friends_count %> friends</p>
		</div>
		<div class="small-6 medium-6 large-3 columns likee-info-count">
			<h3><i class="fi-social-facebook"></i> Link likes</h3>
			<h2><%= current_user.info.links_likes %></h2>
			<p>on <%= current_user.info.links_count %> total links</p>
		</div>
		<div class="small-6 medium-6 large-3 columns likee-info-count">
			<h3><i class="fi-social-facebook"></i> Photo likes</h3>
			<h2><%= current_user.info.photos_likes %></h2>
			<p>on <%= current_user.info.photos_count %> total photos</p>
		</div>
		<div class="small-6 medium-6 large-3 columns likee-info-count">
			<h3><i class="fi-social-facebook"></i> Status likes</h3>
			<h2><%= current_user.info.statuses_likes %></h2>
			<p>on <%= current_user.info.statuses_count %> total status</p>
		</div>
	</div>

	<div id="redeem-section" class="row margin-t-b">
		<div class="small-12 medium-3 large-3 columns">
			<% if redeem_time || !current_user.account.has_redeemed %>
				<%= link_to "Convert Likes", redeem_path, {class: 'button expand'} %>
			<% else %>
				<button class="disabled">Convert Likes</button>	
			<% end %>
		</div>
		<div class="small-12 medium-3 large-3 columns">
			<p class="important">
				1 Like = <%= number_to_currency(CentralBank.first.current_exchange_rate, unit: '') %> Coins
			</p>
		</div>
		<div class="small-12 medium-3 large-3 columns">
			<p>Converting now will bring you: <%= number_to_currency((current_user.info.total_likes * CentralBank.first.current_exchange_rate), unit: '') %> Coins</p>
		</div>
		<div class="small-12 medium-3 large-3 columns">
		</div>
	</div>

	<div clas="row">
		<div class="large-8 large-centered columns">
			<% if redeem_time %>
				<h4 class="text-center"><b>It's redeem time!</b></h4>
				<h3 class="text-center">Go ahead and convert your likes!</h3>
			<% else %>
				<h4 class="text-center">Next redeem time</h4>
				<h3 class="countdown text-center"></h3>
			<% end %>
		</div>
	</div>

	<div id="last-movements">
		<div class="row title">
			<h2>Last movements</h2>
		</div>
		<div class="row">
			<div class="small-12 medium-10 large-10 medium-centered large-centered columns">
				<% if current_user.account.transactions_list.length > 0 %>
					<ul>
						<li class="row leggend">
							<div class="small-3 medium-3 large-3 columns">From</div>
							<div class="small-3 medium-3 large-3 columns">To</div>
							<div class="small-3 medium-3 large-3 columns hide-for-small-only"> Description</div>
							<div class="small-3 medium-3 large-3 columns">Amount</div>
						</li>
						<% current_user.account.transactions_list.each do |tr| %>
							<% if tr.debit_account_id == current_user.account.id %>
							<% className = 'row debit' %>
							<% else %>
							<% className = 'row credit' %>
							<% end %>
							<li class='<%= className %>' id="movements-details">
								<div class="small-3 columns"><%= Account.find(tr.debit_account_id).user.name %></div>
								<div class="small-3 columns"><%= Account.find(tr.credit_account_id).user.name %></div>
								<div class="small-3 columns hide-for-small-only"><%= tr.description %></div>
								<div class="small-3 columns amount-row"><%= number_to_currency(tr.amount, unit: '') %></div>
							</li>
						<% end %>	
					</ul>
				</div>
			</div>
		<% else %>
			<h2 class="row title"><small class="text-center">No transactions to display yet.</small></h2>
		<% end %>
	</div>


	<% else %>

		<div class="row">
			<div class="medium-4 large-3 medium-centered large-centered columns">
				<%= image_tag 'https://s3-eu-west-1.amazonaws.com/likee/Logo+Likee.png' %>
			</div>
		</div>
			
				

			

		<div class="row text-center">
			<h1>&nbsp</h1>
			<h3>Likee coin is an economic and social experiment <br>aimed at creating an alternative monetary system.</h3>
			<p>Wanna know more? Mail us at <a href="mailto:info@likeecoin.com">info@likeecoin.com</a>!</p>
		</div>

		<div class="row">
			<div class="medium-4 medium-centered columns">
				<h1>&nbsp</h1>
				<%= link_to "Testers Login", "/auth/facebook", id: "sign_in", class: 'button secondary expand' %>
			</div>
		</div>



<% end %>