<% if current_user %>
<h1> logged in </h1>
<p><%= current_user.name %></p>
<p><%= current_user.info.friends_count %></p>
<%= link_to "Sign out", signout_path, id: "sign_out" %>
<% else %>
<%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
<% end %>
