/*

	homepage scss
*/


h1, h2, h3{
	font-weight: 200;
}

body{
	font-size: 1em;
	font-family: "Helvetica", sans-serif;
}


#info-profile{
	margin-top: 36px;

	button{
		display: block;
		width: 100%;
	}
	img{
		border-radius: 100%;
	}
}

.margin-t-b{
	margin: 36px auto;
	height: auto;
	overflow: hidden;
}

.font-small-gray{
	font-weight: 200;
	color: #6b6b6b;
	font-style: italic;
}

.likee-info-count{
	border-right: 1px solid #eee;
	h3, h2{
		text-align: center;
		margin: 36px 0;
	}
	h3{
		color: #3b3b3b;
		font-weight: 200;
	}
	h2{
		font-weight: 300;
		font-size: 3em;
	}
	p{
		text-align: center;
		font-size: 10px;
		color: #8b8b8b;
		font-style: italic;
		font-weight: 200;
	}
}
.likee-info-count:last-child{
	border-right: none;
}
.likee-info-count:hover{
	background-color: rgb(251, 251, 251);
}


.friends-box{
	background-color: #f8f8f8;
}


.inline-list{
	margin-bottom: 0 !important;
}


.move-coins{
	margin-top: 16px;
}

.total-likee-coins{
	text-align: center;
	h1{ 
		font-size: 5em; 
		font-weight: 300; 
		margin-top: 0; 
		padding-top: 0; 
		line-height: 1;  
	}
	p{
		margin-top: 15px;
		color: #6b6b6b;
	}
}


#total-likees{
	text-align: center;
	background-color: #FFFAF0;
	padding: 72px 0;
	margin-top: 36px;
}


#redeem-section{
	p{
		text-align: center;
		margin-top: 15px;
		color: #6b6b6b;
	}

	.important{
		color: #333;
	}

	button{
		margin: 0 auto;
		display: block;
		width: 100%;
	}
}


#total-likee-coins{
	background-color: #f5f5f5;
	padding: 72px 0;
	h1, p{
		text-align: center;
	}
	h1{
		font-size: 5em;
		font-weight: 200;
	}
}

.countdown{
	li{
		span{
			display: block;
			font-size: 1.4em;
			span{
				display: inline-block;
				font-size: 1.4em;
			}
		}
		span:first-child{
			font-size: 1.4em;
			color: #000;
		}
	}
}

#last-movements{
	.title{
		text-align: center;
		margin: 36px auto;
	}
	ul{
		list-style: none;
		li{
			padding: 15px 0;	
			border-bottom: 1px solid #eee;

			.amount-row{
				text-align: center;
				font-size: 1.4em;
				font-weight: 400;
				color: #1b1b1b;
			}
		}
		li:hover{
			background-color: rgb(251, 251, 251);
		}
		.leggend{
			font-weight: 600;
			color: #1b1b1b;
			text-align: center;
		}
	}
	
}

#movements-details {
	text-align: center;
}

.debit {
	background-color: rgba(red, 0.1);
}

.credit {
	background-color: rgba(green, 0.1);
}

#likes-collected-info{
	margin-top: 36px;
	h3{
		font-weight: 200;
		color: #6b6b6b;
	}
}

.reveal-modal-bg {
    z-index: 99;
}
