<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title><%= content_for?(:title) ? yield(:title) : "Likeecoins" %></title>

	<%= stylesheet_link_tag    "application" %>
	<link href="//foundationcdn.com/foundation-icons/3/foundation-icons.css" rel="stylesheet">
	<%= javascript_include_tag "vendor/modernizr" %>
	<%= csrf_meta_tags %>

</head>

<body>

	


	<%= yield %>

	<%= javascript_include_tag "application" %>
</body>
</html>